---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">leetcode-200</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个Coder</li>
            <li>计划写200题</li>
            <li>200题的题解</li>
            <li>200题的TS解法</li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
