---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个Coder</li>
            <li>爱读书</li>
            <li>爱音乐</li>
            <li>爱写作</li>
            <li>爱生活</li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
